@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais, se necessário */
body {
    /* Define a fonte 'Inter' como fallback, se já não estiver definida globalmente */
    font-family: 'Inter', sans-serif;
    /* Define uma cor de fundo padrão para todo o corpo, usando uma classe utilitária do Tailwind para consistência */
    background-color: #f3f4f6; 
}
