/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte padrão */
body {
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.6;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
}
