@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais adicionais, se necessário */
body {
    font-family: 'Inter', sans-serif;
    /* Define uma cor de fundo padrão para todo o corpo */
    background-color: #f3f4f6; 
}
